<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>KAKAO_NATIVE_APP_KEY</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_API_KEY)</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_API_KEY</key>
	<string>$(KAKAO_API_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
	</array>
	<key>MIXPANEL_TOKEN</key>
	<string>$(MIXPANEL_TOKEN)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Regular.otf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Splash</string>
	</dict>
</dict>
</plist>
